body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: #031323;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background: linear-gradient(#00ff59,#5af752);
    clip-path: polygon(20% 10%, 40% 40%, 20% 75%);
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background: linear-gradient(#f8ff00,#ff1100);
    clip-path: circle(20% at 70% 75%);
}
.clock{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 350px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    z-index: 10;
    border-top: 1px solid rgba(255,255,255,0.2) ;
    border-left: 5px solid rgba(255,255,255,0.2) ;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    display: flex;
    text-align: center;
    font-family: 'Quicksand', 'Helvetica', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.inside{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 250px;
    border-top: 1px solid rgba(255,255,255,0.2) ;
    border-left: 5px solid rgba(255,255,255,0.2) ;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    display: flex;
}
#cal img{
    width: 30px;
    height: 30px;
    
}